{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <h1 class="text-center">Accueil</h1>

    <p class="text-center">Bienvenue sur l'application de réservation en ligne de livre de la Médiatèque de la Chapelle-Curreaux.</p>
{% endblock %}
