{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    <p>Bienvenue sur l'application de réservation en ligne de livre de la Médiatèque de la Chapelle-Curreaux.</p>
{% endblock %}
