html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1;
}

p {
    margin: 0;
    padding: 0;
}

.card_user {
    display: grid;
    grid-template-columns: repeat(2, 50%);

}

.base-layout {
    background-color: #efefef;
}

.card_header {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}

.color_borrowed {
    background-color: #ff5c09;
}

.color_disponible {
    background-color: #027c4c;
}

.color_reserved {
    background-color: #7250ff;
}

.application_title{
    font-family: 'Sail', cursive;
}

.nav_title {
    font-family: 'Play', sans-serif;
}

.title{
    font-family: 'Play', sans-serif;
    font-weight: bolder;
}
