{% extends 'base.html.twig' %}

{% block title %} Bibliothèque {% endblock %}

{% block main %}

<div class="container mw-100 p-sm-5">
    <h1 class="text-center m-3 title">Bibliothèque</h1>

    <div class="input-group px-lg-5 ">
        <div class="form-outline my-2 w-100 d-flex flex-row gap-1">
            <input id="search-focus" type="search" class="form-control mw-50" placeholder="Titre" />
            <label class="form-label" for="search-focus"></label>
            <select id="search-select" class="form-select col-sm-2" aria-label="Default select example">
                <option selected value="">Genre</option>
                <option>Polar</option>
                <option>Fantastique</option>
                <option>Science-fiction</option>
                <option>Littérature</option>
                <option>Théâtre</option>
                <option>Essai</option>
            </select>
        </div>
    </div>

    <div id="books_block_show" class="w-100 p-lg-5 d-flex flex-wrap justify-content-between">
        {% if books %}
            {% for book in books %}
                {% include('books/_books_template.html.twig') %}
            {% endfor %}
        {% else %}
            <p >Aucun livre ne répond à vos critères</p>
        {% endif %}
    </div>
</div>

<script>
    const debounce = (func, wait, immediate, context) => {
        let result;
        let timeout = null;
        return function() {
            const ctx = context || this;
            const args = arguments;
            const later = () => {
                timeout = null;
                if (!immediate) result = func.apply(ctx, args);
            };
            const callNow = immediate && !timeout;
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
            if (callNow) result = func.apply(ctx, args);
            return result;
        };
    };

    const searchBar = document.getElementById('search-focus');
    const searchSelect = document.getElementById('search-select');

    const getTargetValues = () => {
        const bookTitle = searchBar.value;
        const bookType = searchSelect.value;

        let url;

        if (!bookTitle && !bookType) {
            url = '{{ path('books_catalog') }}';
        } else if (bookTitle !== '' && bookType !== '') {
            url = '{{ path('books_search', {'title': 'title', 'type': 'type'}) }}';
            url = url.replace('title', encodeURIComponent(bookTitle));
            url = url.replace('type', encodeURIComponent(bookType));
        } else if (bookType &&  !bookTitle) {
            url = '{{ path('books_search', {'title': 'title', 'type': 'type'}) }}';
            url = url.replace('title', encodeURIComponent(bookTitle || ''));
            url = url.replace('type', encodeURIComponent(bookType));
        } else{
            url = '{{ path('books_search_by_title', {'title': 'title'}) }}';
            url = url.replace('title', encodeURIComponent(bookTitle));
        }

        return url;
    };

    const booksSearching = async () => {
        const url = getTargetValues();

        const response = await fetch(url);
        const text = await response.text();
        const dom = new DOMParser().parseFromString(text, 'text/html');
        const card = dom.getElementsByClassName('card');

        if (card.length) {
            document.getElementById('books_block_show').innerHTML = card[0].parentNode.innerHTML;
        }
        else {
            document.getElementById('books_block_show').innerHTML = "Aucun livre ne répond à vos critères";
        }
    };

    searchBar.addEventListener('input', debounce(booksSearching, 200));
    searchSelect.addEventListener('change', booksSearching);
</script>
{% endblock %}