{% extends 'base.html.twig' %}

{% block title %}New Books{% endblock %}

{% block body %}
    <h1 class="text-center">Ajouter un livre au catalogue</h1>

    {{ include('books/_form.html.twig') }}
{% endblock %}
