{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}
{% block header %}{% endblock %}
{% block body %}
    <h1>Créer un compte</h1>

    {{ include('customers/_form.html.twig') }}

    <a href="{{ path('app_login') }}">Retour</a>
{% endblock %}
{% block footer %} {% endblock %}
