{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block main %}
    <h1 class="text-center mb-3">Créer un compte</h1>

    {{ include('customers/_form.html.twig') }}
{% endblock %}
