{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}
{% block description %} Médiathèque de la Chapelle Curreaux : création de compte {% endblock %}

{% block main %}
    <h1 class="text-center mb-3 title">Créer un compte</h1>

    {{ include('customers/_form.html.twig') }}
{% endblock %}
