{% extends 'base.html.twig' %}

{% block title %}Liste des emprunts{% endblock %}
{% block description %} Médiathèque Chapelle Curreaux : voir les emprunts et réservations {% endblock %}


{% block main %}
<h1 class="text-center mb-4 title">Liste des emprunts</h1>
<div class="w-100 d-flex flex-wrap justify-content-between">
    {% if lateBooks is empty and books is empty %}
        <p>Aucun emprunt en cours.</p>
    {% endif %}

    {% if lateBooks %}
        {% for userLateBook in lateBooks %}
            {% include('reservations/_display_late_loan.html.twig') %}
        {% endfor %}
    {% endif %}

    {% if books %}
        {% for userBook in books %}
            {% include('reservations/_display_loan.html.twig') %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}