{% extends 'base.html.twig' %}

{% block title %}Liste des emprunts{% endblock %}

{% block main %}
<div class="container mw-100 p-sm-5">
    <h1 class="text-center m-3">Liste des emprunts</h1>
    <div class="w-100 p-lg-5 d-flex flex-wrap justify-content-between">
        {% if  lateBooks is empty and books is empty%}
            <p>Aucun emprunt en cours.</p>
        {% endif %}
        {% if lateBooks %}
            {% for userLateBook in lateBooks %}
                {% include('reservations/_display_late_loan.html.twig') %}
            {% endfor %}
        {% endif %}
        {% if books %}
            {% for userBook in books %}
                {% include('reservations/_display_loan.html.twig') %}
            {% endfor %}
        {% endif %}
        </div>
    </div>

{% endblock %}