{% extends 'base.html.twig' %}

{% block title %}Mes emprunts et réservations{% endblock %}

{% block main %}
<h1 class="text-center mb-4 title">Mes emprunts et Réservations</h1>
<div class="w-100 d-flex flex-wrap justify-content-between">
    {% if userLateBooks or userBooks or userLateReservations %}
        {% for userLateBook in userLateBooks %}
            {{ include('reservations/_display_late_loan.html.twig') }}
        {% endfor %}
        
        {% for userLateReservation in userLateReservations %}
            {{ include('reservations/_display_late_reservations.html.twig') }}
        {% endfor %}
        
        {% for userBook in userBooks %}
            {{ include('reservations/_display_loan.html.twig') }}
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas de réservation ou de livre emprunté en cours.</p>
    {% endif %}
</div>
{% endblock %}